span { 
   position: absolute; 
   top: 10px; 
   left: 0; 
   width: 100%; 
   color: red;
   font-size: 1.2rem;
   font-weight: bold;
}

.image { 
   position: relative; 
   width: 30%;
   float: left; 

 }

 body {
	background-color:  black;
	font-family: 'Poller One', cursive;
}

.defender {
	border-color: red;
	border: 2px solid red;
}

.wins {
   float: right;
   margin-bottom: 5px;
   color: gold;
}

.chosen {
   border: 2px solid green;
}

.reset {
   color: white;
   background-color: grey;
}