span { 
   position: absolute; 
   top: 10px; 
   left: 0; 
   width: 100%; 
   color: red;
   font-size: 1.2rem;
   font-weight: bold;
}

.image { 
   position: relative; 
   width: 30%;
   float: left; 

 }

 body {
	background-image: url("images/background.jpg");
	font-family: 'Poller One', cursive;
   background-position: auto;
   background-repeat: no-repeat;
}

.defender {
	border-color: red;
	border: 2px solid red;
}

.wins {
   float: right;
   margin-bottom: 5px;
   color: gold;
}

.chosen {
   border: 2px solid green;
}

.reset {
   color: white;
   background-color: grey;
}



@media screen {
   max-width: 960px; 
   body {
         background-color: #333;
      }
}

@media screen {
   max-width: 768px;
      body {
         background-color: #333;
      }
   
}

@media screen {
   max-width: 640px;
   body {
         background-image: url("images/background2.jpg");
         background-position: auto;
         background-repeat: no-repeat;
         color: #ceebfd;
      }
}
@media screen and (max-width: 768px) {
  /* The body's bg color will be #333 */
  body {
    background-image: url("images/background2s.jpg");
    background-position: auto;
    background-repeat: no-repeat;
    color: #ceebfd;
  }

progress {
   height: 15px;
}